body {
    background-color: #f5f8fa!important;
    min-height: 800px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.bg-purple{
    background-color:  #563d7c
}

.btn-purple{
    color: #ffffff;
    background-color:  #563d7c;
    border-color: #563d7c; 
}

.box-shadow {
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05)
}

.feed-item {
    border: 1px solid #fdfdfd;
}